<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anp.iptvmanagement">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false" />
  <uses-feature
      android:name="android.software.leanback"
      android:required="true" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".IptvManagementApplication"
      android:supportsRtl="true"
      android:theme="@style/Theme.Leanback">
    <activity
        android:banner="@drawable/app_icon_tv"
        android:icon="@drawable/app_icon_tv"
        android:label="@string/app_name"
        android:logo="@drawable/app_icon_tv"
        android:name=".presentations.initialscreen.InitialScreenActivity"
        android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity>


    <activity android:name=".presentations.player.PlaybackActivity" />
    <activity android:name=".presentations.error.BrowseErrorActivity" />
    <activity android:name=".presentations.verticalgridchannels.VerticalGridChannelsActivity" />

    <activity android:name=".presentations.editlistchannels.DialogEditListActivity" />
    <activity android:name=".presentations.editlistchannels.EditChannel" />

    <!-- settings -->
    <activity
        android:exported="true"
        android:name=".presentations.settings.SettingsActivity"
        android:theme="@style/Theme.Example.LeanbackPreferences" />

    <activity
        android:name=".presentations.addchannelslistepg.AddChannelsListActivity"
        android:theme="@style/Theme.Example.Leanback.GuidedStep" />

    <activity
        android:name=".presentations.epgsettings.EpgSettingsActivity"
        android:theme="@style/Theme.Example.Leanback.GuidedStep" />


    <service
        android:enabled="true"
        android:name="com.anp.commons.data.service.SaveChannelsService" />

    <service
        android:enabled="true"
        android:name="com.anp.commons.data.service.SaveEpgService" />
  </application>

</manifest>